// Place all the styles related to the DevelopmentTime controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dev_time_table {
  text-align: left;
  width: 100%;
}

.dev_time_table th {
  padding-right: 1em;
  color: darkred;
  padding-bottom: 1em;
}

.dev_time_table td {
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.table_add_link {
  float: right;
}

.iso {
	width: 5em;
	text-align: right;
}

.dillution {
	width: 5em;
}

.temperature {
	width: 3em;
	text-align: right;
}

.dev_time_form {
	size: 10;
}

.time {
	width: 4em;
	text-align: right;
}

.rating {
	width: 2em;
	text-align: right;
}

#new_dev_time {
		padding: 1em;
		width: 100%;
		font-size: 0.8em;
}


@media only screen and (min-width : 800px) {

	#new_dev_time {
		width: 20em;
		padding: 1em;
		margin: auto;
		border: 1px solid grey;
		box-shadow: 1em 1em 1em silver;
		border-radius: 0.5em;
		margin-bottom: 5em;

	}
}




#new_dev_time hr {

}

.notes {
	background: lightyellow;
	width: 19em;
}

.create_button_container {
	overflow: hidden;
}

.create_button {
	float: right;
	clear: both;
	font-size: 1em;
	font-family:  'Noto Serif';
}
