<!DOCTYPE html>
<html>
<head>
  <title>The Tiny Dev Chart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport"
    content="user-scalable=no, width=device-width" />

  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>The <span class="focus">Tiny</span> Dev Chart</h1>
  <div class='main'>
    <%= yield %>
  </div>
</body>
</html>
