<!DOCTYPE html>
<html>
<head>
  <title>The Tiny Dev Chart</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
